extends ../../../layout/typecast/signed-out

block append head
    title=view.translate(locale, 'typecast.user.password.title')
    meta(name="description" content=view.translate(locale, 'typecast.user.password.description'))

block content

    h1.h2=view.translate(locale, 'typecast.user.password.headline')

    .typecast-text
        p=view.translate(locale, 'typecast.user.password.text')

    +error(errors=form.errors)

    +form(method='post' form=form)
        .form-group
            label(for='password')=view.translate(locale, 'typecast.form.label.password')
            +textfield.form-control(id='password' type='password' name='password' form=form required='required')

        .form-group
            label(for='password-repeat')=view.translate(locale, 'typecast.form.label.password_repeat')
            +textfield.form-control(id='password-repeat' type='password' name='passwordRepeat' form=form required='required')

        button.btn.btn-primary(type='submit')=view.translate(locale, 'typecast.form.submit')
